# Reinforcement learning
ray[default,rllib]==2.53.0
torch==2.10.0
gymnasium==1.1.1

# Environment and game
numpy==1.26.4
pygame==2.6.0
pettingzoo==1.24.3

# Training logs and dashboard
tensorboardX==2.6.2.2
tensorboard==2.21.0